.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0;
  .contact {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .social-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  form {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    textarea {
      margin-bottom: 2rem;
    }
  }
  h3 {
    margin-bottom: 7rem;
  }
}
