.footer {
  font-size: 1.4rem;
  position: absolute;
  bottom: 3%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);

  a {
    font-style: italic;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
}
