.app {
  display: grid;
  grid-template-columns: 35rem 1fr;
  text-align: center;
  .right-side-layout {
    grid-column: 2;
  }
  .left-side-layout {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5rem 5rem 2rem 3rem;
    position: fixed;
    height: 100vh;
    box-shadow: 0 0 1rem #004732;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
